.container {
    background-color: var(--bgSoft);
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
}

.table {
    width: 100%;
}

.top {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.table thead {
    font-weight: bold;
    color: var(--text);
    font-size: larger;
}

.table tbody {
    color: var(--textSofter);
    font-size: medium;
}

.table td {
    max-width: 10px;
    padding: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    border-bottom: 1px solid var(--bgSofter);
    border-right: 2px solid var(--bgSofter);

}

.status {
    border-radius: 15px;
    padding: 5px;
    font-size: 14px;
    color: white;
}

.title {
    overflow: hidden;
}

.user {
    display: flex;
    gap: 10px;
    align-items: center;
}


.buttons {
    display: flex;
    gap: 10px;
}

.buttons button {
    width: 50px;
    border-radius: 15px;
}

.button {
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 15px;
    color: var(--text);
    cursor: pointer;
}

.delete {
    background-color: red;
    width: 40px;

}

.button:disabled {
    cursor: not-allowed;

}