.container {
    height: 450px;
    
    background-color: var(--bgSoft);
    padding: 20px;
    border-radius: 10px;
  }
  
  .title{
    font-weight: 200;
    color: var(--text);
    margin-bottom: 20px;
  }
.chartContainer {
    position: absolute; /* Necessary for absolute positioning of the overlay */
  }
  
  
  .notSupported {
    font-size: 20px;
    color: var(--textSoft);
  }