.container {
    max-height:185px;
    background-color: var(--bgSoft);
    padding: 20px;
    border-radius: 10px;
    width: 100%;
  }
  
  .title{
    font-weight: 150;
    color: var(--text);
    margin-bottom: 10px;
  }
.chartContainer {
    position: absolute;
  }