.container {
    display: flex;
}

.menu {
    flex-basis: 17%;
    background-color: var(--bgSoft);
    padding: 20px;
    min-height: 100vh;
    border-radius: 10px;
}

.content {
    flex: 4;
    padding: 20px;
}

.wrapper {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.main {
    flex: 3;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.cards {
    display: flex;
    gap: 20px;
    justify-content: space-between;
}

.chart {
    display: flex;
    gap: 10px;
}