.container {
  background-color: var(--bgSoft);
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
}

.top{
  display: flex;
  justify-content: space-between;
}
.table {
  width: 100%;
  margin-top: 10px;
}

.table thead {
  font-weight: bold;
  color: var(--text);
  font-size: larger;
  text-align: center;
  vertical-align: middle;
}

.table tbody {
  color: var(--textSofter);
  font-size: medium;
  text-align: center;
  vertical-align: middle;
}

.table td {
  max-width: 10px;
  padding: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  border-bottom: 1px solid var(--bgSofter);
  border-right: 2px solid var(--bgSofter);
}


.user {
  display: flex;
  gap: 10px;
  align-items: center;
}

.userWrapper:hover {
  padding: 5px;
  background-color: var(--bgSofter);
  border-radius: 10px;
}

.userImage {
  object-fit: cover;
  border-radius: 50%;
}

.status {
  border-radius: 15px;
  padding: 5px;
  font-size: 14px;
  color: white;
}

.buttons {
  justify-content: center;
  display: flex;
  gap: 10px;
  padding: 10px;
}

.buttons button {
  width: 50px;
  border-radius: 15px;
}

.button {
  padding: 5px 10px;
  color: var(--text);
}

.view {
  background-color: teal;
}

.blockBut {
  background-color: red;
}

.blockBut:disabled {
  background-color: rgb(102, 102, 93);
}

.approve {
  background-color: rgb(61, 125, 221);
}

.approve:disabled {
  background-color: rgb(102, 102, 93);
}

.button :disabled {
  cursor: not-allowed;
}

.usrl {
  text-transform: capitalize;
}

.usrs {
  text-transform: capitalize;
}

.active {
  color: rgb(107, 170, 175);
}

.block {
  color: brown;
}

.pending {
  color: #9997a9
}

.normal {
  color: rgb(158, 134, 106);
}

.superAdmin {
  color: red;
  font-weight: bold;
}

.admin {
  color: orange;
  font-weight: bold;
}
