.container {
    padding: 20px;
    border-radius: 10px;
    background-color: var(--bgSoft);
    display: flex;
    justify-content: space-between;
}

.title {
    color: var(--textSoft);
    font-weight: bold;
    text-transform: capitalize;
    padding: 10px;
}

.menu {
    display: flex;
    align-self: center;
    gap: 10px;
}


.input:focus {
    outline: none;

}

.icons {
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    width: 100%;
}

.logout {
    padding: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
    border-radius: 10px;
    width: 100%;
}

.icons:hover {
    background-color: var(--bgSofter);
}

.logout:hover {
    background-color: var(--bgSofter);
}