.addButton {
    padding: 10px;
    background-color: #5d57c9;
    color: var(--textSofter);
    border-radius: 15px;
    cursor: pointer;

}

.status {
    border-radius: 15px;
    padding: 5px;
    font-size: 14px;
    color: white;
}

.fix {
    background-color: teal;
    width: 40px;

}
.input {
    background-color: var(--bgSofter);
    color: var(--text);
    border: none;
    border-radius: 10px;
    height: 30px;
    padding: 10px;
}

.input:focus {
    outline: none;
}

.catName {
    font-weight: bold;
    color: var(--textSoft);
}

.select{
    background-color: var(--bgSofter);
    color: var(--text) !important;
}

.submit{
    margin-top: 5px;
    height: 25px;
    border-radius: 5px;
    background-color: rgb(184, 180, 180);
    color: rgb(29, 28, 28)
}
