.container {
  background-color: var(--bgSoft);
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
}

/* .title{
    margin-bottom: 20px;
    font-weight: 200;
    color: var(--text);
} */

.table {
  width: 100%;
  margin-top: 20px;
}

.table td {
  max-width: 10px;
  padding: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.user {
  display: flex;
  gap: 10px;
  align-items: center;
}

.userImage {
  object-fit: cover;
  border-radius: 50%;
}

.status {
  border-radius: 5px;
  padding: 5px;
  font-size: 14px;
  color: white;
}

.buttons {
  display: flex;
  gap: 10px;
  padding: 10px;
}

.button {
  padding: 5px 10px;
  color: var(--text);
}

.view {
  background-color: teal;
}

.block {
  background-color: red;
}

.block:disabled {
  background-color: rgb(102, 102, 93);
}

.approve {
  background-color: rgb(61, 125, 221);
}

.approve:disabled {
  background-color: rgb(102, 102, 93);
}

.button :disabled {
  cursor: not-allowed;
}

.usrl {
  text-transform: capitalize;
}

.usrs {
  text-transform: capitalize;
}