.container {
  background-color: var(--bgSoft);
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
}

/* .title{
    margin-bottom: 20px;
    font-weight: 200;
    color: var(--text);
} */

.table {
  width: 100%;
}

.table td {
  padding: 10px;
}

.user {
  display: flex;
  gap: 10px;
  align-items: center;
}

.userImage {
  object-fit: cover;
  border-radius: 50%;
}

.status {
  border-radius: 5px;
  padding: 5px;
  font-size: 14px;
  color: white;
}

.buttons {
  display: flex;
  gap: 10px;

}

.button {
  padding: 5px 10px;
  color: var(--text);
  cursor: pointer;
}

.view {
  background-color: teal;
  border: none;
  width: 40px;
}

.block {
  background-color: rgb(236, 9, 54);
  border: none;
  width: 40px;
}

.delete {
  background-color: red;
  border: none;
  width: 40px;
}

.block:disabled {
  background-color: rgb(158, 75, 92);
}